This project is populated so that we can broadcast our videos on websites. In the future we will add new functions and optimize.
To use this project you need to install the following libraries as Django, ffmpeg, ffmpeg-python, channels, urllib3.


Command to run the project:
python manage.py runserver


Command to add user:
python manage.py createsuperuser
