<!DOCTYPE html>
<html>
<head>
    <title>Live Streaming</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <style>
        #video {
            width: 70%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Видео в прямом эфире</h1>
    <video id="video" controls></video>

    <script type="text/javascript">
        var video = document.getElementById('video');
        if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource('{{ hls_url }}');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
                video.play();
            });
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = '{{ hls_url }}';
            video.addEventListener('loadedmetadata', function() {
                video.play();
            });
        }
    </script>
</body>
</html>
